
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color:#ECECEC; /* Color de fondo del cuerpo */
    overflow: hidden; /* Evita el desplazamiento vertical */
  }

  
.contenido{
  display: flex;
  background-color: #BCD3FF;
  list-style: none;
}
  
.contenedor{
  padding: 50px;
  padding-left: 40px;
  background-color: #ffff;
}
  
  