* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #0D3878; /* Color de fondo del cuerpo */
    overflow: hidden; /* Evita el desplazamiento vertical */
  }
  
  .buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .buscar figure {
    margin: 0; /* Asegura que no haya margen en la figura */
  }
  
  .buscar img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: 200px; /* Permite que la imagen mantenga su proporción */
  }
  

.controls {
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  font-family: "calibri";
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.buscar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.contenedor_botones{
  display: flex;
  justify-content: center;
}

.caja_boton{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_uno{
  background-color: #5771AA;
  color: #ffffff; /* añadido para asegurar visibilidad del texto */
  border: none; /* asegura que no haya bordes en el botón */
  padding: 10px 40px; /* añadido para dar espacio al contenido del botón */
  border-radius: 20px; /* añadido para dar bordes redondeados al botón */
  margin-top: 10px; /* ajuste del margen superior */
  text-decoration: none;
}

.btn_dos{
  background-color: #ffffff;
  color: black; /* añadido para asegurar visibilidad del texto */
  border: none; /* asegura que no haya bordes en el botón */
  padding: 10px 40px; /* añadido para dar espacio al contenido del botón */
  border-radius: 20px; /* añadido para dar bordes redondeados al botón */
  margin-top: 10px; /* ajuste del margen superior */
  text-decoration: none;
}

