

.caja{
    display: flex;
}


.caja_uno{
    display: flex;
    align-items: center;
}





.controls {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    font-size: 18px;
    color: rgb(0, 0, 0);
  }

.subir_imagen{
    padding: 10%;
    border-color: black;
    
}