* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0D3878; /* Color de fondo del cuerpo */
  overflow: hidden; /* Evita el desplazamiento vertical */
}

.bienvenida {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bienvenida figure {
  margin: 0; /* Asegura que no haya margen en la figura */
}

.bienvenida img {
  max-width: 100%; /* Asegura que la imagen no se desborde */
  height: auto; /* Permite que la imagen mantenga su proporción */
}
